{% extends "base.html" %}
{% block content %}

<div class="location">
    <h1 class="location-timezone">Unfortunately we can't find your location, please try refresh the page or use an updated browser.</h1>
    <canvas class="icon" width="128" height="128"></canvas>

</div>
<div class="temperature">
    <div class="degree-section">
        <h2 class="degree"></h2>
        <span>C</span>
    </div>
    <div class="temperature-description"></div>
</div>

    <!-- Script to make the API calls and add the data to the html elements -->
<script type="text/javascript">
    window.addEventListener('load', () => {
        // Variables
        let long;
        let lat;
        let temperatureDescription = document.querySelector('.temperature-description');
        let temperatureDegree = document.querySelector('.degree');
        let locationTimezone = document.querySelector('.location-timezone');

        // Get location data from the browser
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                long = position.coords.longitude;
                lat = position.coords.latitude;

                // Resolve the coordinates to a city name via Google Maps
                $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords
                    .latitude + "," + position.coords.longitude + "&sensor=false&key={{ api_key }}",
                    function (gmaps) {
                        var user_city = gmaps.results[6].formatted_address;
                        locationTimezone.textContent = user_city;
                    })


                // Call to the weather API with lat and long added to api address. 
                const api =
                    `https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/${lat}%2C%20${long}?unitGroup=metric&key={{ weather_key }}&contentType=json`

                // Fetch request from the API which returns the response in JSON format    
                fetch(api)
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        const {
                            temp,
                            conditions,
                            icon
                        } = data.currentConditions;

                        // Set dom elements from json data
                        temperatureDegree.textContent = Math.round(temp);
                        temperatureDescription.textContent = data.description;
                        // Set icon from Skycons function
                        setIcons(icon, document.querySelector('.icon'));
                    });
            });

        }
        // Setup Skycons to be used with api icon data
        function setIcons(icon, iconID) {
            const skycons = new Skycons({
                'color': 'white'
            });
            const currentIcon = icon.replace(/-/g, "_").toUpperCase();
            skycons.play();
            return skycons.set(iconID, Skycons[currentIcon]);
        }
    });
</script>
{% endblock %}